.img-width{
    max-width: 768px;
    width: 100%;
    height: auto;
}
.wy-side-nav-search{
    background-color: #6174c3;
}

.wy-nav-side{
    background-color: #222;
}

.wy-nav-top{
    background: #6174c3;
}

body {
    color: #000000
}

.rst-content img {
     max-width: 70%; 
     height: auto !important;
      } 
.md-typeset img {

max-width: 70%
}
