.img-width{
    width: 100%;
    
}
.wy-side-nav-search{
    background-color: #6174c3;
}

.wy-nav-side{
    background-color: #222;
}

.wy-nav-top{
    background: #6174c3;
}

body {
    color: #000000
}